body, html {
    height: 100%;
}
  
.bg {
    /* The image used */
    background-image: url("../image/bg awal.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Center Form */
    display: grid;
    justify-content: space-around;
    align-items: center;
  }