<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentaVote</title>
    <link rel="stylesheet" href="../asset/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../asset/css/nav1.css">
    <link rel="stylesheet" href="../asset/css/index.css">
</head>

<body>
    <!-- Nav header -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-nav">
        <div class="container">
            <div class="text-nav">
                <a class="" href="#">CentaVote</a>
            </div>

            <div class="">
                <ul class="nav justify-content-end">
                    <li class="nav-item text-nav-signup">
                        <a class="text-nav-signup " href="signup.html">Sign Up</a>
                    </li>
                    <li class="nav-item text-nav-login">
                        <a class="" href="Login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="bg"></div>

    <!-- Footer -->
    <div class="footer">
        <p>2021</p>
    </div>

    <script src="../asset/bootstrap/js/jquery.js"></script>
    <script src="../asset/bootstrap/js/popper.js"></script>
    <script src="../asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="../asset/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../asset/alert/sweetalert2.all.min.js"></script>
</body>

</html>